-r requirements.txt

# Code style / formatting
ruff>=0.13.0

#Testes
pytest==8.3.3
pytest-django==4.9.0
mock==5.1.0
freezegun==1.4.0
mutmut==2.4.3

# Better Dev Experience
ipython==8.28.0

# CORS (para quando o frontend está em domínio diferente)
pre-commit>=3.0.0
gitlint>=0.19.0
gunicorn==21.2.0
