name: Generate PR Stats Chart on Main

on:
  push:
    branches:
      - main

jobs:
  generate-chart:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Download PR stats artifact
        uses: actions/download-artifact@v3
        with:
          name: pr-stats-data
          path: ./pr-stats-data

      - name: "Gerar chart consolidado"
        uses: flowwer-dev/pull-request-stats@main
        with:
          period: 30
          sortBy: "totalReviews"
          stats: "totalReviews,timeToReview,totalComments"
          charts: true
          publishAs: "COMMENT"